# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[{Package.swift,*.gradle}]
indent_size = 4

[*.json]
indent_size = 2

[*.gpr]
indent_size = 3

[Makefile]
indent_style = tab

[*.cs]
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
