#!/usr/bin/env sh
source ~/.bashrc

# for workspace dub
export DUB_PACKAGE_TARGET_PATH="$PWD/dist/d"

# npm package destination
export NPM_CONFIG_PACK_DESTINATION="$PWD/dist/npm/packages"

# cargo build directoru
export CARGO_TARGET_DIR="$PWD/dist/rust"

# dune build directory
export DUNE_BUILD_DIR="$PWD/dist/ocaml"

# stack build directory
export STACK_WORK="dist/haskell"

# gnat adaflag
export ADAFLAGS="-gnat2022"

swift() {
  if [ "$1" = "build" ]; then
    shift
    command swift build --build-path=bin/swift "$@"
  elif [ "$1" = "package" ]; then
    shift
    command swift package --build-path=bin/swift "$@"
  elif [ "$1" = "run" ]; then
    shift
    command swift run --build-path=bin/swift "$@"
  elif [ "$1" = "test" ]; then
    shift
    command swift test --build-path=bin/swift "$@"
  else
    command swift "$@"
  fi
}
