#!/usr/bin/env bash

# cargo build directoru
export CARGO_TARGET_DIR="bin/rust"

# dune build directory
export DUNE_BUILD_DIR="$PWD/bin/ocaml"

# stack build directory
export STACK_WORK="bin/haskell"

# python __pycache__
export PYTHONPYCACHEPREFIX="bin/python/obj"

# gnat adaflag
export ADAFLAGS="-gnat2022"
