*
!*.*
!*/
!LICENSE

# alire
**/alire
**/config

# makefiles
!Makefile

**/test

# cargo
**/bin
**/target
Cargo.lock

# dotnet
**/obj

# dune
!dune
!dune-project

# gradle
**/.gradle

# python
poetry.lock
__pycache__/

# js and ts
package-lock.json
node_modules
**/.nx

# stack cabal
**/dist-newstyle
**/.stack-work
stack.yaml.lock

# swift
Package.resolved
