*
!*.*
!*/
!LICENSE
*.log
**/test

# alire
**/alire
**/config

# bazel
**/bazel*

# buck
**/buck-out
!BUCK

# cargo
**/target

# dart
**/.dart_tool
melos*.iml

# dotnet
**/obj
.fake

# dune
!dune
!dune-project
!dune-workspace
_build
**.install

# editors
**/.idea

# gradle
**/.gradle
java/**/bin
kotlin/**/bin
groovy/**/bin
!gradlew

# js and ts
node_modules
**/.nx
**/.turbo
yarn.lock
pnpm-lock.yaml
bun.lockb

# makefiles
!Makefile

# maven
!mvnw

# mix
**/deps

# pants
/.pants.*
**/dist/
/.pids

# python
__pycache__/

# rubygem
!Gemfile
!Rakefile
!ruby/**

# sorbet
!bin/tapioca
sorbet/**/*.txt

# spago
.psc*
.purs*
.psa*
.spago
output/**

# stack cabal
**/dist-newstyle
**/.stack-work

# swift
**/.build

# object files
*.o
*.out
*.cmi
*.cmo
*.cmx
*.class
*.exe
*.dll
*.hi
*.jar
*.kexe
*.ez
*.beam
*.plt
*.dump
