*
!*.*
!*/
!LICENSE

# alire
**/alire
**/config

# makefiles
!Makefile

**/test

# cargo
**/bin
**/target

# dotnet
**/obj

# dune
!dune
!dune-project
!dune-workspace
_build

# gradle
**/.gradle

# python
__pycache__/

# js and ts
node_modules
**/.nx

# stack cabal
**/dist-newstyle
**/.stack-work

# swift
**/.build

# object files
*.o
*.out
*.cmi
*.cmo
*.class
*.exe
*.dll
